#video {
    
    width: 350px;
    margin: auto;
}

#video input[type="image"]{
    width: 50px;
    height: 50px
}

#move {
    width: 350px;
    margin: auto;
}

#move input[type="image"] {
    width: 100px;
    height: 100px;
}



#mv_backward {
    margin-left: 100px;
}
.video_button{
    height: 50px;
}

#stop_v {
    margin-left: 100px;
}

#start_v {
    margin-left: 30px;
}
