#reboot_id{
    width: 80px;
    margin:auto;
    margin-left: calc(40% - 40px);
}

#video {
    position: relative;       
    width: 380px;
    margin: auto;
}

#led {
    width: 380px;
    margin: auto;
}

#led_emoji {
    width: 380px;
}

#led_temp_text_id {
    width :150px;
    height :150px;
}

#cam_move {
    position: absolute;
    width: 50px;
    height: 105px;
    top: 60px;
    right: 0;
}

#video input[type="image"]{
    width: 50px;
    height: 50px
}

#move {
    width: 350px;
    margin: auto;
}

#move input[type="image"] {
    width: 100px;
    height: 100px;
}



#mv_backward {
    margin-left: 100px;
}
.big_button{
    height: 50px;
    font-size: 16px;
}

#stop_v {
    margin-left: 100px;
}

#start_v {
    margin-left: 30px;
}
